{% extends "index.html" %}

{% block head %}
<title>Osoba - Projekt</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">

{% endblock %}

              {% block nav %}
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/osobaprojekt" class="active">Projekt-Osoba</a></li>
                  <li><a href="/osoba">Osoba</a></li>
                  <li><a href="/projekt">Projekt</a></li>
              </ul>
              <form class="navbar-form navbar-right" method="GET">
                  <input type="text" name="q" class="form-control" style="padding: 0 170px 0 10px" placeholder="...po Projekt | Osoba">
                  <button type="submit" class="btn btn-primary" style="padding: 6px 50px 6px 50px">Pretraga</button>
              </form>
{% endblock %}

{% block table %}
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Projekt</th>
                                <th>Osoba</th>
                                <th>Broj Sati</th>
                                <th>Datum</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for op in oNp %}
                            <tr>
                                <td>{{ op.id }}</td>
                                <td>{{ op.id_projekt }}</td>    
                                <td>{{ op.id_osoba }}</td>
                                <td>{{ op.br_sati }}</td>
                                <td>{{ op.datum }}</td>
                            </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
{% endblock %}

{% block form %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Koja osoba radi na nekom projektu</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Input">Id projekt</label>
                                <input type="number" class="form-control" id="id_projekt" name="id_projekt" placeholder="Unesi id projekta">
                            </div>

                            <div class="form-group">
                                <label for="Input1">Id osoba</label>
                                <input type="number" class="form-control" id="id_osoba" name="id_osoba" placeholder="Unesi id osobe">
                            </div>

                            <div class="form-group">
                                <label for="Input2">Broj sati</label>
                                <input type="number" class="form-control" id="br_sati" name="br_sati" placeholder="Broj sati">
                            </div>

                            <div class="form-group">
                                <label for="Input3">Datum</label>
                                <input type="date" class="form-control" id="datum" name="datum" placeholder="Unesi datum">
                            </div>

                            <input type="submit" value="Spremi" class="btn btn-primary btn-block"/>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}

<p>{% block footer %}&copy; Igic 2014{% endblock %}</p>

