{% extends "index.html" %}

{% block head %}
        <title>Projekti</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
{% endblock %}

              {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/osobaprojekt">Projekt-Osoba</a></li>
            <li><a href="/osoba">Osoba</a></li>
            <li class="active"><a href="/projekt">Projekt</a></li>
          </ul>
            <form class="navbar-form navbar-right" method="GET">{% csrf_token %}
                  <input type="text" name="q" class="form-control" style="padding: 0 170px 0 10px" placeholder="...po Naziv Projekta...">
                  <button type="submit" class="btn btn-primary" style="padding: 6px 50px 6px 50px">Pretraga</button>
              </form>
{% endblock %}

{% block table %}
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Naziv Projekta</th>
                                <th>Datum Pocetak</th>
                                <th>Datum Kraj</th>
                                <th>Aktivan</th>
                                <th>Akcija</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in projekti %}
                            <tr>
                                <td>{{ p.id_projekt }}</td>
                                <td>{{ p.naziv_projekt }}</td>    
                                <td>{{ p.datum_pocetak }}</td>
                                <td>{{ p.datum_zavrsetak }}</td>
                                <td>{{ p.aktivan }}</td>
                                <td><a href="/obrisati-p/{{p.id_projekt}}">Obrisati</a></td>
                            </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
{% endblock %}

{% block form %}
<div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unos novog projekta</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="Input2">Naziv projekta</label>
                                <input type="text" class="form-control" name="naziv_projekt" placeholder="unesi naziv projekta" required>
                            </div>

                            <div class="form-group">
                                <label for="Input3">Da li je projekt aktivan</label>
                                <input type="checkbox" class="form-control" name="aktivan" placeholder="aktivan?" required>
                            </div>

                            <div class="form-group">
                                <label for="Input4">Zapoceo projekt</label>
                                <input type="date" class="form-control" name="datum_pocetak" placeholder="pocetak P..." required>
                            </div>

                            <div class="form-group">
                                <label for="Input5">Zavrsio projekt</label>
                                <input type="date" class="form-control" name="datum_zavrsetak" placeholder="zavrsetak P">
                            </div>

                            <input type="submit" value="Spremi" class="btn btn-primary btn-block"/>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}

<p>{% block footer %}&copy; Igic 2014{% endblock %}</p>